# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.hgignore
.lock-waf_linux2_build
.waf*
build/
include
lib
pebble_app.ld
resources/
tools
waf
wscript
